<div class="top-content">
  <div class="top">
    <div class="logo">
      <img src="../../../assets/logo/rx.png" />
    </div>
  </div>
</div>

<div class="container">
  <div class="box-1">
    <img [src]="product?.logoUrl ?? '../../assets/logo/rx.png'" width="40px" height="40px" />
  </div>
  <div class="box-2">
    <div class="container-1">
      <div class="containerItem-1">
        {{product.name}}
      </div>
      <div class="containerItem-2">
        <p>By {{product.providerName}}</p>
      </div>
    </div>
    <div>
      <a (click)="navigateToPage(product.redirectUrl)">
        <button mat-button class="name-button">
          Continue to Subscribe
        </button>
      </a>
    </div>
  </div>
</div>

<div class="cont">
  <div class="details-head">Product Overview</div>
  <mat-divider></mat-divider>
  <p class="overview">{{product.description}}</p>

  <div class="details-head">Pricing</div>
  <mat-divider></mat-divider>
  <div class="flexBox">
    <div class="flex-2">
      <p class="trial-head">Free Trial</p>
      <ul>
        <li class="trial">Try one unit of this product for {{product.trialDays}} days</li>
        <li class="trial">There will be no software charges for this product</li>
      </ul>

      <div class="button-Center">
        <a [routerLink]="['/auth/signup']">
          <button mat-button class="start-button">
            Get Started
          </button>
        </a>
      </div>
    </div>
  </div>

</div>

