.box {
    background-color: var(--navWhite);
    width: 60%;
    height: 100%;
    margin: 24px auto;
    border-radius: 10px;
    padding: 16px 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.refine {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-blue);
}

.mat-checkbox {
    font-weight: 600;
    font-family: Poppins !important;
}