<div class="row">
  <div class="column">
    <div class="card">
      <h3>Total Subscription</h3>
      <p>{{subscriptionStats.totalSubscriptions}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Active Subscriptions</h3>
      <p>{{subscriptionStats.activeSubscriptions}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Active Trial Subscriptions</h3>
      <p>{{subscriptionStats.activeTrialSubscriptions}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Cancelled Subscriptions</h3>
      <p>{{subscriptionStats.cancelledSubscriptions}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Upgrades</h3>
      <p>{{subscriptionStats.upgradeCount}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Downgrades</h3>
      <p>{{subscriptionStats.downgradeCount}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Active Onetime Subscriptions</h3>
      <p>{{subscriptionStats.activeOneTimeSubscriptions}}</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Active Recurring Subscriptions</h3>
      <p>{{subscriptionStats.activeRecurringSubscriptions}}</p>
    </div>
  </div>
</div>
