.mat-box {
    width: 400px;
    height: 350px;
    background-color: var(--navWhite);
    border-radius: 10px;
    padding: 0px !important;
    padding-top: 38px;
}

.mat-dialog-container {
    padding: 0px !important;
}

.mat-form-field {
    width: 280px;
    height: 140px;
    border-radius: 5px;
    border: none;
    background-color: var(--Dark-Gray);
}

.btn {
    width: 100px;
    height: 40px;
    background-color: var(--navWhite);
    font-weight: bold;
    border-radius: 10px;
    color: #292c38;
    margin-right: 10px;
    margin-left: 23%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-2 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #292c38;
    background-color: var(--navWhite);
    font-weight: bold;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}