.container {
  background-color: var(--navWhite);
  width: 80%;
  margin: 0 auto;
  height: 130px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
}

.containerItem1 {
  color: var(--primary-blue);
  font-size: 24px;
  margin: 10px 10px 0 10px;
  padding: 20px 20px 0 20px;
  font-weight: bold;
  font-style: normal;
  font-weight: 600;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.container1>div {
  margin: 0 10px 0 10px;
  padding: 0 20px 0 20px;

}

.containerItem2 {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}


.cont {
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }
 
  .details-head{
    font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-blue);
  }

.flex-container{
  margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

  .details-container {
    display: flex;
  }
  .detailTitle {
    width: 200px;
    text-align: right;
  }
  .detailResults {
    margin-left: 1%;
    width:500px;

  }

  .logo{
    width: 260px;
    margin-left: 1%; 
  }

  .subs-head{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--primary-blue);
    margin-top: 30px;
  }
    
.name-button {
  background-color:#292c38;
  color: #ccd2e5;
  
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  width: 130px;
  border: none;
  margin-top: 2%;
}
.name-button:hover {
  color: #292c38;
  background-color:#ccd2e5 ;
  transition: 0.7s;
}


.delete-button{
  background-color: rgb(160, 62, 62);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 150px;
  border: none;
  margin-top: 2%;
}

.edit-button{
  background-color: rgb(64, 158, 195);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 150px;
  border: none;
  margin-top: 2%;
}

.buttonF{
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  
}

.buttonF div{
  margin-right: 10px;
}

.btnMarketplace {
  width: 135px;
  height: 45px;
  border-radius: 12px;
  color: #292c38;
  background-color:#ccd2e5 ;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  text-align: center;
}

.btnMarketplace:hover {
  background-color:#292c38;
  color: #ccd2e5;
  transition: 0.7s;
}

