.cont {
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }
  .details-head{
    font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-blue);
  }
.flex-container{
  margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

  .details-container {
    display: flex;
  }
  .detailTitle {
    width: 200px;
    text-align: right;
  }
  .detailResults {
    margin-left: 1%;
    width:500px;

  }
  .secret{
    display: flex;
  }
  .secret .key{
    width: 350px;
  }


  .eyeSVG img{
    width: 18px;
    height: 25px;
    margin-left: 10px;
  }
  .logo{
    width: 260px;
    margin-left: 1%;
  }


  .subs-head{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--primary-blue);
    margin-top: 30px;
  }

.name-button {
  background-color: var(--primary-blue);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 150px;
  border: none;
  margin-top: 2%;
}

.delete-button{
  background-color: rgb(160, 62, 62);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 150px;
  border: none;
  margin-top: 2%;
}

.edit-button{
  background-color: rgb(64, 158, 195);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 150px;
  border: none;
  margin-top: 2%;
}

.buttonF{
  display: flex;
  margin-top: 15px;
}

box1{
  margin-left: 10px;


}
