<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    
    <div class="right-align">
      <app-profile></app-profile>
      
    </div>

    <div class="container">
      <div class="containerItem1">Products</div>
      <div class="container1">
      <div class="containerItem2"><p>Each of your products you can add to the marketplace to sell your items.</p></div>
      <div ><a (click)="onAddToMarketplace(product.productId)">
        <button mat-button class="btnMarketplace">+ Add to Marketplace</button>
      </a></div>
    </div>
    </div>
    
    <div class="cont">
      <div class="details">
        <div class="details-head">Product Details</div>
        <mat-divider></mat-divider>
      </div>
      <div class="flex-container">
        <div class="details-container">
          <div class="detailTitle">
            <div><b>Product ID </b></div>
            <div><b>Product Name </b></div>
            <div><b>Description </b></div>
            <div><b>Re-Direct URL </b></div>
            <div><b>Webhook URL </b></div>
            <div><b>Secret Key </b></div>
            <div><b>Free Trial Days </b></div>
          </div>
          <div class="detailResults">
            <div>{{product.productId}} </div>
            <div>{{product.name}} </div>
            <div class="description">{{product.description}}</div>
            <div>{{product.redirectURL}}</div>
            <div>{{product.webhookURL}}</div>
            <div>{{product.webhookSecret}}</div>
            <div>{{product.freeTrialDays}}</div>
          </div>
        </div>
        <div class="logo">
          <img [src]="product.logoURL" height="140px" width="140px" />
        </div>
        
      </div>
     

      <div class="subs-info">
        <div class="subs-head">Plan Details</div>
        <mat-divider></mat-divider>
        <div>
          <a (click)="navigateToAddPlan()">
            <button mat-button class="name-button">+ Add Plan</button>
          </a>
        </div>

        <app-plan-table></app-plan-table>

       

        <div class="subs-head">Add-On Details</div>
        <mat-divider></mat-divider>

        <div>
          <a  >
           
            <button class="name-button" mat-button (click)="openDialog()">+ Add Add-On</button>
       
          </a>
        </div>
        
        <app-add-on-table></app-add-on-table>

        <div class="subs-head">Add-On Price Details</div>
        <mat-divider></mat-divider>

        <div>
          
          <button class="name-button" mat-button (click)="openDialogPrice()">+ Add AddOn Price</button>
        </div>
        
        <app-add-on-price></app-add-on-price>



       <div class="buttonF">
        <div>
          <a (click)="onDelete(product.productId)" class="delete-button">
            <button mat-button class="delete-button">Delete Product</button>
          </a>
        </div>

        <div>
          <a (click)="navigateToEditProduct()" class="edit-button">
            <button mat-button class="edit-button">Edit Product</button>
          </a>
        </div>
       </div> 
       
        
      
       
      </div>
    </div>
  </div>
</div>
