<div>
  <app-top-bar></app-top-bar>
  <!-- component -->

  <div class="container-1">
    <h1>Add User</h1>
  </div>

  <div class="container-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>User Name</label>
        <div>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="invalid">
          <div *ngIf="f['username'].touched && f['username'].invalid">
            <div *ngIf="f['username'].errors && f['username'].errors['required']">
              User Name is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <div>
          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div class="invalid">
          <div *ngIf="f['email'].touched && f['email'].invalid">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
              Email is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="labelName">Select role</label>
        <mat-form-field class="form-field" appearance="fill">
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="btn-container">
        <button mat-button class="btn" [disabled]="userForm.invalid" type="submit">Add</button>
        <button mat-button class="btn-2" routerLink="/organization/user-roles">Cancel</button>
      </div>
    </form>
    <div>{{response}}</div>

  </div>
</div>