.container-1 {
  background-color: var(--navWhite);
  height: 60px;
  width: 40%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}

.container-1 h1 {
  margin: 0;
  color: var(--primary-blue);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 18px;
  padding-left: 24px;
}

.container-2 {
  width: 60%;
  margin: auto;
  margin-top: 2%;
}

.btn-container {
  margin: auto 0;
  padding-right: 3%;
}

.name-button {
  justify-content: flex-end;
  background-color: var(--primary-blue);
  border-radius: 10px;
  color: var(--navWhite);
  font-size: 14px;
  height: 40px;
  width: 240px;
  border: none;
}

.name-button:hover {
  cursor: pointer;
}

form {
  margin-left: 20%;
  margin-right: 20%;
}

.form-group {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.form-control {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  background-color: var(--navWhite);
  border-radius: 10px;
  font-size: 14px;
  border: none;
  padding-left: 20px;
}

::ng-deep .mat-form-field {
  margin-left: 10px;
}

::ng-deep .mat-option-text {
  font-family: "Poppins";
  font-weight: 600;
}

::ng-deep .mat-select {
  font-family: "Poppins";
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: var(--navWhite) !important;
}

input,
button {
  border: none;
}

.btn {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: white;
  font-size: 14px;
  margin: 10px 0;
  margin-bottom: 60px;
  margin-right: 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn-2 {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--black);
  color: white;
  font-size: 14px;
  margin: 10px 0;
  margin-bottom: 60px;
}

.btn-2:hover {
  cursor: pointer;
}

.invalid {
  color: red;
  height: 10px;
  font-size: 14px;
}