<div class="cus-details">
  <h3>Customer Details</h3>
  <mat-divider></mat-divider>
  <mat-list role="list">
    <mat-list-item role="listitem"
      >Customer ID &nbsp;&nbsp;&nbsp;&nbsp; {{ customerId }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >Name
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{ name }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >E-Mail
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{ Email }}</mat-list-item
    >
  </mat-list>
</div>
