* {
  box-sizing: border-box;
}

.container {
  display: flex;
  /* grid-template-columns: auto auto; */
  height: 100vh;
  margin-left: 0px;
  padding: 0px;
}

.box {
  width: 100%;
}

.box-1 {
  background-color: var(--navWhite);
  border-radius:0 5% 5% 0;
  width:100%;
  height: 100%;
  position: relative;
}

.box-1 object {
  width:100%;   
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
  font-weight: 700;
  font-size: 72px;
  margin-left: 15%;
  color: var(--primary-blue);
  text-align: start;
}

.box-2 {
  width:50%;   
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #292C38;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

form {
  margin-left: 15%;
  margin-right: 15%;
}

.form-group {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.form-control {
  width: 100%;
  height: 45px;
  margin-top: 8px;
  background-color: var(--navWhite);
  border-radius: 10px;
  font-size: 14px;
  border: none;
  padding-left: 20px;
}

input {
  display: block;
}

/* ::placeholder {
  padding-left: 2%;
} */

.btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  margin: 10px 0;
  border: none;
  color: var(--navWhite);
  background-color: var(--primary-blue);
}

a:hover {
  cursor:pointer;
}

.forgot-btn {
  margin-right: 20px;
  color: #292C38;
  font-weight: 600;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.invalid {
    color: red;
}

@media (min-with: 800px) {
  .container {
    display: flex;
  }
}
