<div>
  <app-top-bar></app-top-bar>

  <div class="title-container">
    <div>
      <div class="title">Manage Oraganization Roles</div>
      <div class="intro">
        Manage all your organization role information.
      </div>
    </div>
    <div class="btn-container">
      <a [routerLink]="['add-user']">
        <button mat-button class="name-button">+Add User</button>
      </a>
    </div>
  </div>

  <div class="container-1">
    <h1>User</h1>
  </div>

  <div class="container-2">
    <table mat-table [dataSource]="tableData">

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>User Name </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{user.role}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="header"> </th>
        <td class="alnright" mat-cell *matCellDef="let user">
          <a>
            <button (click)="deleteUser(user.email)" mat-button class="delete-button">
              <img class="image-delete" src="../../../../../assets/icons/icons8-delete.svg" alt="">
            </button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
