<div class="flex flex-col">
  <app-top-bar></app-top-bar>
  <!-- component -->
  <div class="title self-center rounded-lg p-5">
    <div class="flex space-between">
      <div class="">
        <h3 class="text-blue-800 font-bold">Manage Oraganization Roles</h3>
        <span>View and Manage all your account associated information.</span>
      </div>
      <div class=""><a [routerLink]="['add-user']"> <button mat-button class="btn-org">+Add
            Roles</button>
        </a>
      </div>
    </div>
  </div>

    <table mat-table [dataSource]="data" class="mat-elevation-z8  ">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <app-footer class="mt-5"></app-footer>
</div>