.title-container {
  justify-content: space-between;
  display: flex;
  background-color: var(--navWhite);
  width: 60%;
  margin: 0 auto;
  height: 120px;
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  padding-top: 24px;
  padding-left: 36px;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-blue);
}

.intro {
  padding-top: 12px;
  padding-left: 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.btn-container {
  margin: auto 0;
  padding-right: 4%;
}

.name-button {
  justify-content: flex-end;
  background-color: var(--primary-blue);
  border-radius: 10px;
  color: var(--navWhite);
  font-size: 14px;
  height: 40px;
  width: 160px;
  border: none;
}

.name-button:hover {
  cursor: pointer;
}

.container-1 {
  background-color: var(--navWhite);
  height: 60px;
  width: 60%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}

.container-1 h1 {
  margin: 0;
  color: var(--primary-blue);
  font-size: 16px;
  font-weight: 600;
  padding-top: 18px;
  padding-left: 24px;
}

.container-1 p {
  margin: 0;
  font-size: 14px;
  padding-left: 24px;
  padding-top: 6px;
  padding-bottom: 18px;
}

.container-2 {
  width: 60%;
  margin: auto;
  margin-top: 2%;
}

img {
  margin-top: 5px;
}

.mat-table {
  width: 100%;
  overflow: hidden !important;
  box-shadow: none;
  border-radius: 10px;
}

th {
  background-color: var(--navWhite);
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-blue);
}

.mat-row:hover .mat-cell {
  border-color: var(--primary-blue) ! important;

}

::ng-deep.mat-tab-label {
  min-width: 50% !important;
  background-color: var(--navWhite);
}

.mat-row {
  cursor: pointer;
}