.container-1 {
  margin: auto;
  margin-top: 2%;
  width: 80%;
  border-bottom: 3px solid var(--primary-blue);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.container-1 h1 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-blue);
}

.container-2 {
  justify-content: center;
  width: 90%;
  margin-top: 2%;
}

.form-group {
  display: flex;
  padding-bottom: 10px;
}

.form-control {
  width: 60%;
  height: 40px;
  background-color: var(--navWhite);
  border-radius: 10px;
  padding-left: 14px;
  font-size: 14px;
  border: none;
}

.form-control :hover {
  border-color: var(--primary-blue) !important;
}

.form-control-des {
  height: 120px;
  background-color: var(--navWhite);
  padding-top: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Poppins";
  border: none;
  align-items: right;
}

<<<<<<< HEAD
.form-field {
  width: 20%;
  padding-left: 14px;
  border-radius: 20px;
}
=======
>>>>>>> dev

.invalid {
  color: red;
  width: 25%;
  padding-top: 10px;
  padding-left: 18px;
}

.form-group .labelName {
  font-size: 14px;
  font-weight: 600;
  text-align: end;
  width: 30%;
  margin-top: 10px;
  padding-right: 2%;
}

::ng-deep .mat-form-field {
  height: 40px;
}

::ng-deep .mat-form-field-wrapper {
  height: 40px;
}

::ng-deep .mat-select-value-text {
  padding-left: 10px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  height: 40px;
  border-radius: 10px 10px 0 0 !important;
  padding: 0 0 10px 0 !important;
  background-color: var(--navWhite);
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
  border-top: 0 !important;
}

::ng-deep .mat-select {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
}

::ng-deep .mat-select-arrow {
  /* margin: 15px 5px !important; */
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 6px solid !important;
}

::ng-deep .mat-select-arrow-wrapper {
  display: inline !important;
}

::ng-deep .mat-option {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  background-color: var(--navWhite);
}

.form-group-btn {
  margin-top: 10px;
  margin-left: 23%;
}

.btn {
  width: 120px;
  height: 40px;
  background-color: var(--primary-blue);
  font-weight: 600;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-2 {
  width: 120px;
  height: 40px;
  background-color: #292c38;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  border: none;
}

.btn-2:hover {
  cursor: pointer;
}