<div class="container">
  <div class="box-1">
      <h1>Reset Password</h1>
      <p>Enter the verification code you have received via your email here. 
        Please enter the new password and confirm the password to reset your password.
      </p>
      <form>
          <div class="form-group">
              <label>Enter Verification Code</label>
              <div>
                  <input type="text" class="form-control" formControlName="e-mail" />
              </div>
          </div>
          <div class="form-group">
            <label>Enter New Password</label>
            <div>
                <input type="text" class="form-control" formControlName="e-mail" />
            </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <div>
              <input type="text" class="form-control" formControlName="e-mail" />
          </div>
      </div>
      </form>
      <button class="btn">
          Reset Password
      </button>
  </div>
</div>