<div class="container">
    <div class="box">
      <div class="box-1">
        <!-- <img class="logo" routerLink="/" src="../../../assets/logo/rx.png" />  -->
        <object data="../../../../assets/logo/RX Logo T.svg" width="400" height="400"> </object>
      </div>
    </div>
    <div class="box">
      <div class="box-2">
        <div class="header">REGISTER</div>
        <form [formGroup]="registerForm3" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label style="font-size: 18px;">Choose Plan</label>
                <div>

                <!-- <div class="custom-control custom-radio label-cont" *ngFor="let plan of plans">
                  <input id="1month" type="radio" class="custom-control-input" value="1month" name="plan" formControlName="plan">
                  <label class="custom-control-label1" >{{plan.Name}}</label>
                  <label class="custom-control-label" >$90.00</label>
                </div> -->
                <div class="form-group" *ngIf="plans" >
                  <label class="labelName">Plans</label>
                  <mat-form-field class="form-field" appearance="fill">
                    <mat-select formControlName="systemSubscriptionPlanId">
                      <mat-option *ngFor="let plan of plans" [value]="plan.PlanId">
                        {{plan.Price}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>{{plans|json}}</div>

              </div>

            </div>
            <div class="form-group" >
              <label class="labelName">Subscription Type</label>
              <mat-form-field class="form-field" appearance="fill">
                <mat-select formControlName="subscriptionType">
                  <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="blank" style="height: 15px;"></div>

            <!-- <div class="form-group">
                <label style="font-size: 18px;">Choose Plan Cycle</label>
                <div class="custom-control custom-radio">
                  <input id="onetime" type="radio" class="custom-control-input" value="onetime" name="planCycle" formControlName="planCycle">
                  <label class="custom-control-label" for="onetime">One Time</label>
                </div>

                <div class="custom-control custom-radio">
                  <input id="recurring" type="radio" class="custom-control-input" value="recurring" name="planCycle" formControlName="planCycle">
                  <label class="custom-control-label" for="recurring">Recurring</label>
                </div>
            </div>
             -->
            <div class="form-group">
                <button class="btn" routerLink="/signup">Previous</button>
                <button class="btn2" type="submit">Proceed Payment</button>
            </div>
        </form>

        <!-- <div style="margin-left: 15%;">
          <a class="forgot-btn">Forgot password?</a>
          <a class="forgot-btn"> Don't have an account? </a>
        </div> -->

      </div>
    </div>
  </div>
