* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /* grid-template-columns: auto auto; */
    height: 100vh;
    margin-left: 0px;
    padding: 0px;

}

.box {
    width: 100%;
}

.box-1 {
    background-color: var(--navWhite);
    border-radius: 0 5% 5% 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.box-1 object {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-2 {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #292C38;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.header {
    font-weight: 700;
    font-size: 48px;
    margin-left: 15%;
    color: var(--primary-blue);
    text-align: start;
}

form {
    margin-left: 15%;
    margin-right: 15%;
}
.planss{
  margin-bottom: 50px;
}

.form-group {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

input,
button {
    border: none;
}


.custom-radio {
    margin-top: 10px;
}

.btn {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: #292C38;
    color: var(--navWhite);
    margin: 10px 0;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
}

.btn-2 {
    width: 160px;
    height: 40px;
    margin-left: 10px;
    background-color: var(--primary-blue);
    border-radius: 10px;
    color: var(--navWhite);
    font-weight: 600;
}

.btn-2:hover {
    cursor: pointer;
}

.labelName {
    font-size: 14px;
    font-weight: 600;
}

.description{
  font-size: smaller;
}

.plan{
  font-size: x-small;
}

.invalid{
  color: red;
  font-size: x-small;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: var(--navWhite);
}

::ng-deep .mat-option-text {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
}

::mg-deep .invalid[_ngcontent-nwo-c109] {
    font-family: "Poppins";
}

::ng-deep .mat-form-field {
    font-family: "Poppins";
}

::ng-deep .mat-select {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
}