<div class="container">
    <div class="box">
      <div class="box-1">
        <!-- <img class="logo" routerLink="/" src="../../../assets/logo/rx.png" />  -->
        <object data="../../../../assets/logo/RX Logo T.svg" width="400" height="400"> </object>
      </div>
    </div>
    <div class="box">
      <div class="box-2">
        <div class="header">System Subscription</div>
        <form [formGroup]="registerForm3" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label style="font-size: 18px;">Choose Plan</label>
                <div>
                  <div *ngFor="let plan of plans">
                    {{plan.name}}<br>{{plan.price}}<br>{{plan.description}}<br>
                  </div>

                <div class="form-group" >
                  <label class="labelName">Plans</label>
                  <mat-form-field class="form-field" appearance="fill">
                    <mat-select formControlName="systemSubscriptionPlanId">
                      <mat-option  *ngFor="let plan of plans" [value]="plan.planId">
                        {{plan.name}}<br>

                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

            </div>
            <div class="form-group" >
              <label class="labelName">Subscription Type</label>
              <mat-form-field class="form-field" appearance="fill">
                <mat-select formControlName="subscriptionType">
                  <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="blank" style="height: 15px;"></div>
            <div class="form-group">
                <button class="btn" routerLink="/signup">Previous</button>
                <button class="btn2" type="submit">Proceed Payment</button>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div>{{response}}</div>
        </form>
      </div>
    </div>
  </div>
