<div class="container">
  <div class="box-1">
      <h1>Change Password</h1>
      <p>Strong password required. Enter minimum 8 characters. 
        Combine uppercase letters, lowercase letters, numbers and symbols
      </p>
      <form>
          <div class="form-group">
              <label>Enter Your Current Password</label>
              <div>
                  <input type="text" class="form-control" formControlName="e-mail" />
              </div>
          </div>
          <div class="form-group">
            <label>Enter New Password</label>
            <div>
                <input type="text" class="form-control" formControlName="e-mail" />
            </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <div>
              <input type="text" class="form-control" formControlName="e-mail" />
          </div>
      </div>
      </form>
      <button class="btn">
          Reset Password
      </button>
  </div>
</div>