<div class="container">
    <table mat-table [dataSource] = "dataSource"  class="mat-elevation-z8">

      <ng-container  matColumnDef="addOnId">
        <th mat-header-cell *matHeaderCellDef class="header"> Add-On ID </th>
        <td mat-cell *matCellDef="let AddOn "> {{AddOn.addOnId}} </td>
      </ng-container>


      <ng-container  matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef class="header"> Display Name </th>
        <td mat-cell *matCellDef="let AddOn "> {{AddOn.displayName}} </td>
      </ng-container>


      <ng-container  matColumnDef="unitOfMeasure">
        <th mat-header-cell *matHeaderCellDef class="header"> Unit of Measure </th>
        <td mat-cell *matCellDef="let AddOn "> {{AddOn.unitOfMeasure}} </td>
      </ng-container>


      <ng-container  matColumnDef="productPlan">
        <th mat-header-cell *matHeaderCellDef class="header"> Product Plan </th>
        <td mat-cell *matCellDef="let AddOn "> {{AddOn. productPlan}} </td>
      </ng-container>

      <ng-container  matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="header"> Price </th>
        <td mat-cell *matCellDef="let AddOn "> {{AddOn.price}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="header"> </th>
        <td mat-cell *matCellDef="let Plan ">
          <a>
            <button mat-button class="edit-button">
              <img class="image-edit" src="../../../../../assets/icons/icons8-edit.svg" alt="">
            </button>
          </a>
          <a>
            <button mat-button class="delete-button">
              <img class="image-delete" src="../../../../../assets/icons/icons8-delete.svg" alt="">
            </button>
          </a>
  
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
