.content {
  overflow-x: hidden;
}

.graph-container {
  display: flex;
  justify-content: space-between;
}

.graph {
  width: 50%;
  height: 300px;
  margin: 10px;
  background-color: #f8fbff;
  border-radius: 20px;
  filter: drop-shadow(2px 5px 10px rgba(41, 44, 56, 0.25));
  margin-top: 20px;
}

.side-container {
  margin: 0 auto;
  width: 80%;
}

.table-grp {
  width: 66.67%;
  border-radius: 10px;
  overflow: hidden !important;
  filter: drop-shadow(2px 5px 10px rgba(41, 44, 56, 0.25));
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  color: #347AE2;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
          .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #347AE2;
}


.bottom-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 36px;
}

::ng-deep.mat-tab-label {
  width: 100%;
  /* min-width: 450px !important; */
  background-color: var(--navWhite);
}

/* @media screen and (max-width: 900px) {
  .graph-container {
    height: 85%;
    width: 90%;
    padding: 5%;
    display: block;
    margin-bottom: 20px;
  }
} */
