.chart {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}



.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-blue);
}
