<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
    <div class="cont">

      <div class="details">
        <div class="details-head">Customer Details</div>
        <mat-divider></mat-divider>

        <div class="details-container">
          <div class="detailTitle">
            <div>Customer ID :</div>
            <div>Name :</div>
            <div>E-mail :</div>
            <div>Status :</div>
            <div>Payment Card Details :</div>
          </div>

          <div class="detail">
            <div>{{ customerID }}</div>
            <div>{{ customer.email }}</div>
            <div>{{ customer.name }}</div>
            <div [ngClass]="{'statusActive':customer.status=='Active','statusInactive':customer.status=='Inactive'}">{{ customer.status }}</div>
            <div *ngIf="customer.last4">**** **** **** {{ customer.last4 }}</div>
            <div *ngIf="!customer.last4">No Card Details Available {{ customer.last4 }}</div>
          </div>
        </div>
        <div class="subs-head">Subscription Info</div>
        <mat-divider></mat-divider>

        <app-customer-subs-table></app-customer-subs-table>
      </div>
    </div>
  </div>
</div>
