<div class="container">
    <div class="box-1">
        <h1>Forgot Password?</h1>
        <p>Please enter the email address. You will receive an email to reset your password.
        </p>
        <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
            <div class="form-group">
                <label>Enter E-Mail Address</label>
                <div>
                    <input type="text" class="form-control" formControlName="email" />
                    <div class="invalid">
                      <div *ngIf="f['email'].touched && f['email'].invalid">
                        <div *ngIf="f['email'].errors && f['email'].errors['required']">
                          Email is required.
                        </div>
                        <div class="invalid" *ngIf="f['email'].errors && f['email'].errors['email']">
                          Invalid email.
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">
              Send Verification Code
          </button>
        </form>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div>{{response}}</div>
    </div>
</div>
