<div class="container">
    <div class="box-1">
        <h1>Forgot Password?</h1>
        <p>Please enter the email address. You will receive an email message
            with verification code to reset your password.
        </p>
        <form>
            <div class="form-group">
                <label>Enter E-Mail Address</label>
                <div>
                    <input type="text" class="form-control" formControlName="e-mail" />
                </div>
            </div>
        </form>
        <button class="btn">
            Send Verification Code
        </button>
    </div>
</div>