<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
    <div class="title-container">
      <div>
        <div class="title">Products</div>
        <div class="intro">Each product can have multiple plans.
          <br>you can create onetime or recurring plans to sell your items.
        </div>
      </div>
      <div class="btn-container">
        <a [routerLink]="['/product/addProduct']">
          <button mat-button class="name-button">+ Add Product</button>
        </a>
      </div>
    </div>
    <div class="cont">
      <app-product-table></app-product-table>
    </div>
  </div>
</div>