* {
    box-sizing: border-box;
}

.priceheadinfo {
    height: 100%;
    padding: 0 10%;
}

.priceheadinfo h1 {
    text-align: center;
    font-size: 48px;
    color: #292C38;
    margin: 0;
    padding-top: 5%;
}

.priceheadinfo h1 span {
    color: #347AE2;
}

.priceheadinfo p {
    text-align: center;
    font-size: 18px;
    color: #292C38;
    font-weight: 400;
}
  
.columns {
    float: left;
    width: 33.3%;
    padding: 16px;
    border-radius: 10px;
}
  
.price {
    list-style-type: none;
    border: 1px solid #ECEFF4;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 #292C3833;
}
  
.price:hover {
    box-shadow: 0 8px 12px 0 #292C384d;
}
  
.price .header {
    background-color: #292C38;
    color: #ECEFF4;
    font-size: 48px;
    font-weight: 700;
    padding: 4vh;
    border-radius: 10px 10px 0 0;
}
  
.price li {
    border-bottom: 1px solid #ECEFF4;
    text-align: center;
}
  
.price .grey {
    background-color: #ECEFF4;
    font-size: 18px;
    font-weight:600;
    padding: 2vh;
}

.price .grey span {
    color: #347AE2;
}

.price .grey_dollar {
    background-color: #ECEFF4;
    font-size: 72px;
    padding: 2vh;
    font-weight: bold;
}
  
.price .btn_sign {
    background-color: #ECEFF4;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 5vh;
    border-radius: 0 0 10px 10px;
}
  
.button {
    background-color: #292C38;
    border: none;
    color: #ECEFF4;
    padding: 3% 14%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price_pro .price .button {
    background-color: #347AE2;
}

.price_pro .price .button:hover {
    background-color: #292C38;
}
  
.button:hover {
    background-color: #347AE2;
    box-shadow: 0 8px 12px 0 #292C3833;
}
  
@media only screen and (max-width: 800px) {
    .columns {
      width: 100%;
    }
}