<div class="cus-config">
  <h3>Configurations</h3>
  <mat-divider></mat-divider>
  <mat-list role="list">
    <mat-list-item role="listitem"
      >Billing info
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      {{ billingInfo }}
    </mat-list-item>
    <mat-list-item role="listitem"
      >Payment Method Details &nbsp;&nbsp;&nbsp;&nbsp;
      {{ PaymentMethod }}</mat-list-item
    >
  </mat-list>
</div>
