.chart {
    position: relative;
    padding: 10px;
    margin: auto 0;
}
.pie-chart-container {
  height: 250px;
  /* margin-top: 15px; */
  background: #ECEFF4;
  filter: drop-shadow(2px 5px 10px rgba(41, 44, 56, 0.25));
  border-radius: 10px;
}

.pie-chart {
  padding: 10px;
}
