.chart {
  position: relative;
  padding: 10px;
  margin: auto 0;
}

.pie-chart-container {
  /* height: 250px; */
  /* width: 100%; */
  background: #ECEFF4;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
}

.pie-chart {
  padding: 10px;
}