<div class="top-content">
    <div class="top">
      <div class="logo">
        <img src="../../../assets/logo/rx.png" />
      </div>
    </div>
  
    <div class="search">
      <div class="search-box">
        <input class="form-control" type="text" matInput placeholder="Start searching products"
        [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="searchKey" >
  
  
        <mat-autocomplete autoActiveFirstOption   #auto="matAutocomplete">
          <mat-option *ngFor="let name of filteredOptions | async" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
  
      </div>
      <div class="button-box">
        <a (click)="search()"><button mat-button class="button" type="submit"><img
              src="../../../assets/icons/search.png" /></button></a>
      </div>
    </div>
  </div>
  
<div class="flexbox" >
    <!-- <app-marketplace-flex1></app-marketplace-flex1> -->
    <app-marketplace-flex2></app-marketplace-flex2>
</div>


