<div>
  <app-top-bar></app-top-bar>
  <div class="title-container">
    <div>
      <div class="title">User Profile</div>
      <div class="intro">
        View and Manage all your account associated information.
      </div>
      <button (click)="showToasterSuccess()">
        Success Toaster
      </button>
    </div>
  </div>

  <div class="box-2">
    <form [formGroup]="UserProfileForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Full Name</label>
        <div>
          <input type="text" class="form-control" formControlName="fullName" [(ngModel)]="userDetail.fullName" />
        </div>
        <div class="invalid">
          <div *ngIf="f['fullName'].touched && f['fullName'].invalid">
            <div *ngIf="f['fullName'].errors && f['fullName'].errors['required']">
              Full Name is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <div>
          <input type="text" class="form-control" formControlName="email" [(ngModel)]="userDetail.email" />
        </div>
        <div class="invalid">
          <div *ngIf="f['email'].touched && f['email'].invalid">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
              Email is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Profile Image</label>
        <div class="logoFlex">
          <div class="imgup">
            <div class="icon-container">
              <img src="assets/icons/img.png" alt="" />
              <div *ngIf="!imageSelected">Drop your image here, or browse</div>
            </div>
            <input id="fileUpload" type="file" (change)="onFileChange($event)" accept="image/*"
              formControlName="profilePath" [(ngModel)]="userDetail.profileUrl" />
          </div>
          <div class="previewImg" *ngIf="userDetail.profileUrl">
            <img height="120px" width="110px" [src]="profilePreviewPath?profilePreviewPath:userDetail.profileUrl"
              [alt]="UserProfileForm.value.name" />
          </div>
        </div>
        <div class="invalid"></div>
      </div>

      <div class="form-group">
        <label>User Name</label>
        <div>
          <input type="text" class="form-control" formControlName="userName" [(ngModel)]="userDetail.userName" />
        </div>
        <div class="invalid">
          <div *ngIf="f['userName'].touched && f['userName'].invalid">
            <div *ngIf="f['userName'].errors && f['userName'].errors['required']">
              User Name is required
            </div>
          </div>
        </div>
      </div>

      <button class="btn" type="submit">
        Save Changes
      </button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div>{{response}}</div>

    </form>
  </div>
</div>

<app-footer></app-footer>
