<div class="row">
    <div class="column">
        <div class="card">
            <h3>Total Customers</h3>
            <p class="var">{{gridStats.totalCustomers }}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Net Revenue</h3>
            <p class="var">$ {{gridStats.totalRevenue}}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Total Subscriptions</h3>
            <p class="var">{{gridStats.totalSubscriptions}}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Total Products</h3>
            <p class="var">{{gridStats.totalProducts}}</p>
        </div>
    </div>

</div>
