<div class="row">
    <div class="column">
        <div class="card">
            <h3>Total Customers</h3>
            <p class="var">{{tCustomer }}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Net Revenue</h3>
            <p class="var">{{nRevenue}}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Total Subscriptions</h3>
            <p class="var">{{tSubscription}}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Total Products</h3>
            <p class="var">{{tProduct}}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Xxxxxxxxx</h3>
            <p class="var">{{xVal1}}</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Xxxxxxxxx</h3>
            <p class="var">{{xVal2}}</p>
        </div>
    </div>

</div>