<ngx-spinner bdColor="rgba(236,239,244,0.8)" size="medium" color="#347ae2" type="square-jelly-box" [fullScreen]="true">
  <p style="color: black;font-size: larger"> Fetching Data... </p>
</ngx-spinner>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Total Customers</h3>
      <p>{{customerStats.totalCustomers}}</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Active Customers</h3>
      <p>{{customerStats.activeCustomers}}</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Inactive Customers</h3>
      <p>{{customerStats.inactiveCustomers}}</p>
    </div>
  </div>

</div>
